.attachment-add-button {
    position: relative;
    display: inline-block;
    padding: 50px;
    border: 1px dashed rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.attachment-add-button input[type=file] {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
}

.attachment-image-preview {
    width: 100%;
}

