.attachment-add-button {
    position: relative;
    display: inline-block;
    padding: 36px 64px 36px 64px;
    border: 1px dashed rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.attachment-add-button input[type=file] {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
}

.attachment-image-preview {
    width: 100%;
    position: relative;
}

.attachment-item-remove {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 14pt;
    color: black;
    transform: translate(-50%, -50%);
}

.attachment-item-remove:hover {
    color: darkred;
}
